In [5]:
# 基本ライブラリ
import sys
from pathlib import Path
import pandas as pd

# Jupyter環境でのカレントディレクトリを使う
current_dir = Path.cwd()  # 現在の作業ディレクトリ
sys.path.append(str(current_dir.resolve().parent.parent))
SAVE_DIR = Path("data", "rawdf")

full_path = Path(sys.path[-1])
print(full_path)
race_results = pd.read_csv(full_path / SAVE_DIR / "preprocessed_race_results.csv", sep="\t")
horse_results = pd.read_csv(full_path / SAVE_DIR / "preprocessed_horse_results.csv", sep="\t")

C:\Users\kenni\horse_racing_predictions

In [6]:
race_info_csvs = pd.read_csv(full_path / SAVE_DIR / "RACE_INFO_CSV_preprocessing.csv", sep="\t")

In [7]:
race_infos

,race_id,date,race_type,around,course_len,weather,ground_state,race_class,place
0,202401010101,2024-07-20,1,0.0,1200.0,0.0,0.0,4,8
1,202401010102,2024-07-20,0,0.0,1000.0,0.0,0.0,1,8
2,202401010103,2024-07-20,0,0.0,1700.0,0.0,0.0,1,8
3,202401010104,2024-07-20,1,0.0,1500.0,0.0,0.0,1,8
4,202401010105,2024-07-20,0,0.0,1700.0,0.0,0.0,6,8
...,...,...,...,...,...,...,...,...,...
3161,202410030808,2024-07-21,0,0.0,1000.0,0.0,2.0,2,4
3162,202410030809,2024-07-21,1,0.0,2000.0,1.0,0.0,5,4
3163,202410030810,2024-07-21,1,0.0,1200.0,1.0,0.0,5,4
3164,202410030811,2024-07-21,1,0.0,1800.0,0.0,0.0,11,4
3165,202410030812,2024-07-21,0,0.0,1700.0,0.0,2.0,2,4